.content{
	background-color: ;
}
body{
	background-color:;
}
a:link{
	 color: #86EBE9;
}
a:visited {
    color: #86EBE9;
}
.Elink{
	font-size: 15pt;
}
#textTitle{
	font-size: 30pt;
}
#textDesc{
	font-size: 15pt;
}
#textPrice{
	font-size: 20pt;
}